@firstColor: #e47d8d;
@secondColor: #7a0517;
@thirdColor: #2e1505;
@whiteColor: #fbeded;
@bgColor: #fde1e1;
@bgFooter: #bc616d;
@rightsColor: #e199a3;
@inputBorder: #810B21FF;
@inputPlaceholder: #78051DFF;
@inputColor: #500416FF;

